[Desktop Entry]
Name=GNOME Bravia Screensaver
Comment=Turn on and off your Sony Bravia TV using Simple IP Control
Exec=gnome-bravia-screensaver
Icon=org.gnome.Terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;
